table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

a:-webkit-any-link {
    color: #000;
    text-decoration: none;
    cursor: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
	
    text-align: left;
    background-color: #ff751a;
    color: white;
	text-decoration: none;
}